html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  background-color: #0A647C;
}

.fa-bars {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}
