html {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  background-color: #0146c7;
}

.fa-bars {
  color: #fff;
}

.navbar-nav .nav-link {
  color: #fff;
}

.wave-container {
  position: relative;
  background-color: #0146c7;
  text-align: center;
  overflow: hidden;
  color: #fff;
}

.wave-container>svg {
  display: block;
}

.wave-header {
  font-size: 3rem;
  margin: 6rem 1.0rem 2.0rem 1.0rem;
}

.wave-subheader {
  font-size: 1.0rem;
  margin: 1.0rem 1.0rem 2.0rem 1.0rem;
}

.weather-search {
  margin: 1.0rem 1.0rem 2.0rem 1.0rem;
  padding: 16px;
  border-radius: 14px;
  text-align: center;
}

.weather-search::placeholder {
  color: #000;
}

.wave-container > .btn {
  padding: 16px;
  color: #fff;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

.wave-container>svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 3000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
